<head>
  <title>Login - Terzettoo</title>
</head>

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row justify-content-center w-100">
      <div class="col-md-6">
        <div class="card shadow-lg p-4 rounded">
          <h4 class="card-title text-center mb-4">Login</h4>
          <form action="/auth/login" method="post" novalidate>
            <div class="mb-3">
              <label for="emailId" class="form-label">Email</label>
              <input type="text" class="form-control" id="emailId" name="emailId" placeholder="Enter your email" required>
              <div class="invalid-feedback">
                Please provide your email.
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
              <div class="invalid-feedback">
                Please provide your password.
              </div>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
          </form>

          <div class="mt-3">
            <p class="text-center">Don't have an account? <a href="/auth/signup">Sign up here</a></p>
          </div><br>

          <h4 class="card-title text-center text-decoration-underline mb-4">Login Credentials</h4>
          <h4 class="card-title  mb-4">For Examinee</h4>
          <p><b>Email :-</b> jigar@gmail.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b>Password :-</b>  jigar1234</p><br>
          <h4 class="card-title  mb-4">For Examiner</h4>
          <p><b>Email :-</b> jatin@gmail.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b>Password :-</b>  jatin1234</p>
        </div>
      </div>
    </div>
  </div>