/* Notice route */
.notice-main{
    display: flex;
width: 100%;
}


.notice-card {
    width: 70%;
    padding: 30px;
    /* background: white; */
    border-radius: 15px;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); */
    position: relative;
    margin: auto;
}

.notice-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #343A40;
    text-decoration: underline;
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #e9ecef;
    padding-bottom: 5px;
}

.list-group-item {
    font-size: 1rem;
    padding: 10px 15px;
}

.btn-custom {
    background-color: #dc3545;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    transition: 0.3s;
    margin: 1rem;
}

.btn-custom:hover {
    background-color: #c82333;
}

.alert {
    margin-top: 20px;
}

#camera-preview {
    display: inline-block;
    width: 100%;
}

.circle-music-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding-right: 1rem;
}

.disabled {
    background-color: #f2f2f2;
    pointer-events: none;
}

.start-exam-btn {
    display: none;
}

.main {
    display: flex;
}

.equpment-check {
    width: 30%;
    border-radius: 15px;
    margin-left: 2rem;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#videoElement {
    width: 100%;
    border-radius: 10px;
}